/* General body theme */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

strong{
    color: #ff8800;
}

.light-mode strong{
    color: #3235ff;
}

h1 {
    font-size: 40px;
    font-style: italic;
    display: block;
}

.h1_left,
.p_left {
    margin-left: 20px;
}

.h1_right,
.p_right {
    float: right;
    margin-right: 10px;
    flex-direction: row;
}

p {
    font-size: 20px;
    display: block;
}


/* Container for the loading bar */
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    opacity: 1;
    transition: opacity 2s ease;
}

/* Theme for the loading bar */
#loading-bar {
    opacity: 1;
    transition: opacity 1s ease;
    position: absolute;
    display: flex;
    width: 520px;
    height: 40px;
    background-color: #333;
    border: 3px solid #202020;
}

/* The squares that divide the loading bar */
.loading-square {
    flex: 1;
    background-color: #333;
    border: 1px solid black;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

/* Refers to the loading bar and the cogwheel image */
#loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Cogwheel image */
#rotating-image {
    position: relative;
    width: 200px;
    height: 200px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style to center elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

/* Themes for the start button */
#start-button {
    cursor: pointer;
    width: 200px;
    height: 100px;
    background-color: initial;
    transition: filter 0.2s ease;
}

/* Color change when hover over the start button */
#start-button:hover {
    filter: brightness(4) sepia(3) hue-rotate(120deg);
}

/* Transition into the portfolio section */
#portfolio-section {
    opacity: 0;
    transition: opacity 1s ease;
}

/* Themes for the start button */
#curriculum-button {
    cursor: pointer;
    width: 250px;
    height: 70px;
    background-color: initial;
    transition: filter 0.2s ease;
    margin-left: 20px;
}

#interval1 {
    margin: 0;
    padding: 0;
    background-color: #ff8800;
}

.light-mode #interval1 {
    background-color: #4346ff;
}

.pf_image{
    width: 400px;
    height: 600px;
    border: 7px solid #ff8800;
    margin-left: 20px;
}

.light-mode .pf_image{
    border: 7px solid #3235ff;
}

#interval2 {
    margin: 0;
    padding: 0;
    background-color: #ff8800;
}

.light-mode #interval2 {
    background-color: #4043ff;
}














.cert1 {
    display: flex;
    background: url("images/patio.jpg");
    border-top: 10px solid #1759a4;
    border-bottom: 10px solid #1759a4;
    margin-top: 20px; /* Adjust the top margin as needed */
    padding: 20px; /* Add padding to create space within the cert1 element */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  

.cert2{
    display: flex;
    background: url("images/cambschool.jpg");
    border-top: 10px solid #860000;
    border-bottom: 10px solid #860000;
    margin-top: 20px; /* Adjust the top margin as needed */
    padding: 20px; /* Add padding to create space within the cert1 element */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

}

.sec2image1{
    height: 250px;
    width: 250px;
    margin-left: 60px;
    background-color: rgb(0, 8, 91);
    border: 10px solid #1759a4;
    border-radius: 15px;
    cursor: pointer;
}

.light-mode .sec2image1{
    background-color: white;
    border-color: #0060ce;
}

.cert_content1 {
  color: rgb(102, 144, 250);
  background-color: black;
  border-radius: 30px;
  border: 10px solid #1759a4; /* Add a border to the cert_content1 element */
  padding: 20px;
  margin-left: 30px;
}

.light-mode .cert_content1{
    color: rgb(45, 70, 132);
    background-color: rgb(255, 255, 255);
    border-color: #0060ce;
}

.cert_content1 p{
    font-size: 18px;
}

.sec2image2{
    height: 290px;
    width: 250px;
    margin-left: 60px;
    background-color: rgb(103, 3, 3);
    border: 10px solid rgb(71, 16, 16);
    border-radius: 15px;
    cursor: pointer;
}

.light-mode .sec2image2{
    background-color: rgb(255, 255, 255);
    border-color: #ae0000;
}

.cert_content2 {
  color: rgb(169, 11, 11);
  background-color: black;
  border-radius: 30px;
  border: 10px solid rgb(71, 16, 16); /* Add a border to the cert_content1 element */
  padding: 20px;
  margin-left: 30px;
  }

.light-mode .cert_content2{
    color: rgb(83, 5, 5);
    background-color: rgb(255, 255, 255);
    border-color: #ae0000;
}

.cert_content2 p{
    font-size: 24px;
}

.cert-image{
    cursor: pointer;
    width: 220px;
    height: 100px;
}

.cert-image:hover{
    scale: 1.03;
}

.p_detail{
    font-size: 15px;
}












.toggle{
    position: fixed;
    top: 94px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
}

.light-mode .toggle:hover{
    filter: drop-shadow(0 0 0.75rem rgb(25, 0, 255));
}

/* Navigation toolbar theme and button stuff */
#toolbar {
    position: fixed;
    top: 190px;
    right: 0;
    width: 70px;
    min-height: 200px;
    background-color: rgb(62, 62, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    transition: right 0.5s ease; /* Add transition property */
}

#toolbar.collapsed {
    right: -70px; /* Move the toolbar to the right */
}

.toolbar-image {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toolbar-image:hover {
    background-color: #ff8800;
    box-shadow: 0 0 11px rgba(255, 137, 10, 0.5);
}

.light-mode #toolbar {
    background-color: #cbcbcb;
}

.light-mode .toolbar-image:hover {
    background-color: #7678ff;
    box-shadow: 0 0 11px rgba(10, 39, 255, 0.5);
}

.light-mode .circle-container {
    background-color: #7c72ff;
}

.light-mode .circle-container:hover {
    background-color: #3235ff;
    animation: spin 3s linear infinite;
    filter: drop-shadow(0 0 0.75rem rgb(0, 21, 255));
}

.superior-circle{
    position: fixed;
    top: -40px;
    right:-40px;
    width: 190px;
    height: 190px;
    background-color: rgb(61, 0, 0);
    border-radius: 50%;
}

.light-mode .superior-circle{
    background-color: #000265;
}

/* Style for the circular container */
.circle-container {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: rgb(121, 38, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.circle-container:hover {
    background-color: #ff8800;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
}

/* Style for the image inside the circle */
.circle-container img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

/* Hover effect on the image */
.circle-container:hover img {
    transform: scale(1.1);
    filter: brightness(2) invert(1); 
    animation: spin 3s linear infinite;
}

html {
    scroll-behavior: smooth;
  }

.pfp {
    float: right;
    margin-right: 30px;
}