/* General body theme */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
}

/* Container for the loading bar */
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    opacity: 1;
    transition: opacity 2s ease;
}

/* Theme for the loading bar */
#loading-bar {
    opacity: 1;
    transition: opacity 1s ease;
    position: absolute;
    display: flex;
    width: 520px;
    height: 40px;
    background-color: #333;
    border: 3px solid #020202;
}

/* The squares that divide the loading bar */
.loading-square {
    flex: 1;
    background-color: #333;
    border: 1px solid black;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

/* Refers to the loading bar and the cogwheel image */
#loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Cogwheel image */
#rotating-image {
    position: relative;
    width: 200px;
    height: 200px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style to center elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

/* Themes for the start button */
#start-button {
    cursor: pointer;
    width: 200px;
    height: 100px;
    background-color: initial;
    transition: filter 0.2s ease;
}

/* Color change when hover over the start button */
#start-button:hover {
    filter: brightness(4) sepia(3) hue-rotate(120deg);
}

/* Transition into the portfolio section */
#portfolio-section {
    opacity: 0;
    transition: opacity 1s ease;
}

/* Navigation toolbar theme and button stuff */
#toolbar {
    position: fixed;
    top: 150px; /* Use a fixed pixel value for top */
    right: 0;
    width: 70px;
    min-height: 200px; /* Set a minimum height */
    background-color: rgb(62, 62, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.toolbar-image {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toolbar-image:hover {
    background-color: #ff8800;
    box-shadow: 0 0 11px rgba(255, 137, 10, 0.5);
}

.light-mode #toolbar {
    background-color: #cbcbcb;
}

.light-mode .toolbar-image:hover {
    background-color: #7678ff;
    box-shadow: 0 0 11px rgba(10, 39, 255, 0.5);
}

.light-mode .circle-container {
    background-color: #7c72ff;
}

.light-mode .circle-container:hover {
    background-color: #3235ff;
    animation: spin 3s linear infinite;
}

/* Style for the circular container */
.circle-container {
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: rgb(121, 38, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.circle-container:hover {
    background-color: #ff8800;
}

/* Style for the image inside the circle */
.circle-container img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

/* Hover effect on the image */
.circle-container:hover img {
    transform: scale(1.1);
    filter: brightness(2) invert(1); 
    animation: spin 3s linear infinite;
}
